@media screen and (max-width: 1200px) {
  .header {
    max-width: 1200px;
  }

  .footer-container {
    max-width: 900px;
  }

  .map-slider-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .map-slider li:nth-child(6),
  .map-slider li:nth-child(7),
  .map-slider li:nth-child(8) {
    display: none;
  }

  .map {
    background-image: url('../../assets/icons/map/map-1200px.svg');
    width: 800px;
    height: 400px;
    margin: 50px auto 30px;
  }

  .inner {
    padding: 103px 0 61px 0;
  }

  .inner > .h3-text {
    margin-bottom: 10px;
  }

  .map-placeholder-eagle {
    left: 67px;
    top: 47px;
  }

  .map-hint-eagle {
    top: 80px;
    left: 0;
    right: -387px;
  }

  .map-placeholder-alligator {
    left: 145px;
    top: 67px;
  }

  .map-hint-alligator {
    top: 80px;
    left: 0;
    right: -387px;
  }

  .map-placeholder-gorilla {
    left: 369px;
    top: 135px;
  }

  .map-hint-gorilla {
    top: 69px;
    left: -419px;
  }

  .map-placeholder-panda {
    right: 153px;
    top: 49px;
  }

  /*Footer start*/
  .footer-container {
    padding: 116px 150px 0;
  }

  .footer-content {
    justify-content: inherit;
  }

  .right-side {
    position: relative;
    left: 60px;
    top: -1px;
  }

  .footer-logo {
    display: block;
    margin-bottom: 24px;
  }

  .btn-footer {
    position: absolute;
    top: 325px;
    left: 0;
  }
  /*Footer end*/
}

@media screen and (max-width: 640px) {
  .header {
    padding: 25px 20px;
  }

  .header-nav {
    display: none;
  }

  .mobile-nav-wrapper {
    display: block;
  }

  .switch-color-theme {
    margin-left: auto;
    margin-right: 30px;
  }

  .mobile-nav-icon {
    display: block;
  }

  .map-text {
    max-width: 600px;
  }

  .map-slider-wrapper {
    max-width: 600px;
  }

  .map-slider li:nth-child(9) {
    display: none;
  }

  .map {
    background-image: url('../../assets/icons/map/map-640px.svg');
    height: 290px;
    width: 600px;
    margin: 35px auto 0;
  }

  .map-placeholder-eagle {
    left: 49px;
    top: 10px;
  }

  .map-placeholder-alligator {
    left: 105px;
    top: 21px;
  }

  .map-placeholder-gorilla {
    left: 269px;
    top: 72px;
  }

  .map-placeholder-panda {
    right: 112px;
    top: 8px;
  }

  /*Footer start*/
  .footer-container {
    padding: 0;
    max-width: 640px;
    margin: 0 auto;
  }

  .footer-content {
    flex-direction: column;
    max-width: 600px;
    padding: 0 20px;
  }

  .footer-logo {
    margin-bottom: 50px;
  }

  .left-side {
    margin-top: 80px;
  }

  .btn-footer {
    right: 20px;
    top: -562px;
    left: auto;
  }

  form {
    max-width: 400px;
    position: relative;
    top: 64px;
    margin-bottom: 70px;
  }

  .footer-nav {
    flex-direction: column;
    position: absolute;
    top: -494px;
  }

  .footer-nav > li {
    padding: 0;
  }

  .right-side {
    left: 0;
  }

  .right-side-description {
    margin-top: 50px;
  }

  .footer-line {
    max-width: 600px;
    margin: 40px auto;
  }

  .copyright {
    margin: 28px 0 0 20px;
    padding-bottom: 40px;
  }
  /*Footer end*/
}

@media screen and (max-width: 320px) {
  .mobile-nav {
    flex-direction: column;
    min-height: auto;
  }

  .mobile-nav > li {
    margin-bottom: 20px;
  }

  .mobile-nav > li:last-child {
    margin-bottom: 0;
  }

  .main {
    padding-top: 50px;
  }

  .map-header {
    font-size: 24px;
    line-height: 28px;
  }

  .map-text {
    font-size: 12px;
    line-height: 14px;
    max-width: 280px;
    margin: 0 auto;
  }

  .map-slider-wrapper {
    max-width: 280px;
  }

  .map-slider li > a > img {
    width: 60px;
    height: 60px;
  }

  .active-li-wrapper {
    width: 86px;
    height: 86px;
    align-items: flex-end;
  }

  .map-slider .map-slider-item.active-map-slider-item {
    width: 75px;
    height: 75px;
  }

  .map-slider li:nth-child(5) {
    display: none;
  }

  .map {
    background-image: url('../../assets/icons/map/map-320px.svg');
    height: 146px;
    width: 280px;
    margin: 0 auto 0;
  }

  .map-placeholder {
    width: 34px;
    height: 47px;
  }

  .map-marker svg {
    width: 34px;
    height: 47px;
  }

  .map-marker > img {
    width: 22px;
    height: 22px;
    top: 6px;
    left: 6px;
  }

  .map-placeholder-eagle {
    left: 16px;
    top: 3px;
  }

  .map-placeholder-alligator {
    left: 42px;
    top: 11px;
  }

  .map-placeholder-gorilla {
    left: 124px;
    top: 37px;
  }

  .map-placeholder-panda {
    right: 43px;
    top: 6px;
  }

  .container {
    padding-bottom: 50px;
  }

  /*Footer start*/
  .textarea-wrapper,
  input[type='text'],
  input[type='email'] {
    min-width: auto;
  }

  .btn-footer {
    top: 272px;
  }

  form {
    margin-bottom: 70px;
  }

  .send {
    margin-right: 0;
  }

  .right-side-description {
    margin-top: 60px;
  }

  .footer-line {
    max-width: 300px;
    margin: 110px auto 40px;
  }
  /*Footer end*/
}
