.cards-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 15px;
  max-width: 1440px;
  margin: auto;
  position: relative;
  overflow: hidden;

  .stars-wrapper {
    display: block;
    margin: 20px auto;
    width: 100%;
  }

  .end-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fail-text {
      color: #fc6262;
      display: block;
      font-size: 26px;
    }

    .success-text {
      color: rgb(4, 138, 4);
      display: block;
      font-size: 26px;
    }

    .avatar-end-game {
      display: block;
    }
  }
}

@media screen and (max-width: 720px) {
  .cards-field {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .avatar-end-game {
    width: 260px;
  }
}