@media screen and (max-width: 1200px) {
  .header,
  .favorite-wrapper {
    max-width: 1200px;
  }

  .favorite-text-wrapper {
    margin-left: 0;
  }

  .wrapper-social-links {
    left: 0;
  }

  .how-it-works,
  .how-it-works-slider > img {
    max-width: 746px;
  }

  .container {
    max-width: 900px;
  }

  .item {
    max-width: 290px;
  }

  .pets-in-zoo-slider-wrapper > li > a,
  .bg-zoo-item {
    width: 210px;
    height: 300px;
  }

  .pets-in-zoo-slider-wrapper .slider-text-favorite-wrapper {
    left: 6px;
  }

  .pay-arrow > svg {
    width: 48px;
  }

  .testimonial {
    max-width: 440px;
    padding-left: 55px;
    padding-right: 55px;
    width: auto;
  }

  .testimonial-text {
    max-width: 326px;
    text-align: left;
  }

  .map {
    background-image: url('./assets/icons/map/map-1200px.svg');
    background-size: auto;
  }

  .map-placeholder-eagle {
    left: 90px;
    top: 90px;
  }

  .map-hint-eagle {
    top: 80px;
    left: 0;
    right: -387px;
  }

  .map-placeholder-alligator {
    left: 176px;
    top: 111px;
  }

  .map-hint-alligator {
    top: 80px;
    left: 0;
    right: -387px;
  }

  .map-placeholder-gorilla {
    left: 419px;
    top: 187px;
  }

  .map-hint-gorilla {
    top: 69px;
    left: -419px;
  }

  .map-placeholder-panda {
    right: 180px;
    top: 97px;
  }

  /*Footer start*/
  .right-side {
    position: relative;
  }

  .btn-footer {
    position: absolute;
    top: 325px;
    left: 0;
  }
  /*Footer end*/
}

@media screen and (max-width: 640px) {
  .header {
    padding: 25px 20px;
  }

  .header-nav {
    display: none;
  }

  .mobile-nav-wrapper {
    display: block;
  }

  .switch-color-theme {
    margin-left: auto;
    margin-right: 30px;
  }

  .mobile-nav-icon {
    display: block;
  }

  .favorite-wrapper {
    max-width: 640px;
    padding: 0 20px 122px;
  }

  .favorite-text-wrapper {
    margin-bottom: 450px;
  }

  .line {
    right: 7%;
  }

  .main-text {
    font-size: 64px;
    line-height: 75px;
  }

  .favorite-slider {
    left: 150px;
    height: 520px;
  }

  .how-it-works {
    max-width: 600px;
  }

  .how-it-works-slider > img {
    max-width: 600px;
  }

  .pets-in-zoo-mobile {
    overflow: hidden;
  }

  .icons-wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

  .item {
    margin-bottom: 50px;
  }

  .container {
    max-width: 600px;
  }

  .pets-in-zoo-wrapper {
    overflow: hidden;
  }

  .pets-in-zoo-slider-wrapper {
    width: auto;
  }

  .pets-in-zoo-slider-wrapper > li {
    margin-right: 20px;
  }

  .pay-feed-items {
    flex-direction: column;
    align-items: center;
  }

  .left-arrow,
  .right-arrow {
    display: none;
  }

  .pay-arrow > svg {
    width: 32px;
    height: 28px;
    transform: rotate(90deg);
    position: relative;
    bottom: 25px;
  }

  .testimonials > .testimonial:nth-child(2) {
    display: none;
  }

  .testimonial {
    max-width: none;
    width: 100%;
  }

  .testimonial-text {
    max-width: none;
  }

  .inner > h3 {
    margin-bottom: 0;
  }

  .map {
    background-image: url('./assets/icons/map/map-640px.svg');
    background-size: auto;
  }

  .map-placeholder-eagle {
    left: 48px;
    top: 108px;
  }

  .map-placeholder-alligator {
    left: 105px;
    top: 125px;
  }

  .map-placeholder-gorilla {
    left: 269px;
    top: 177px;
  }

  .map-placeholder-panda {
    right: 109px;
    top: 117px;
  }

  .map-hint-gorilla {
    transform: translate(200px, 10px);
  }

  .map-btn {
    margin: 0 auto;
  }

  /*Footer start*/
  .footer-container {
    padding: 0;
    max-width: 640px;
    margin: 0 auto;
  }

  .footer-content {
    flex-direction: column;
    max-width: 600px;
    padding: 0 20px;
  }

  .left-side {
    margin-top: 80px;
  }

  .btn-footer {
    right: 20px;
    top: -540px;
    left: auto;
  }

  form {
    max-width: 400px;
    position: relative;
    top: 64px;
    margin-bottom: 70px;
  }

  .footer-nav {
    flex-direction: column;
    position: absolute;
    top: -494px;
  }

  .footer-nav > li {
    padding: 0;
  }

  .right-side-description {
    margin-top: 50px;
  }

  .footer-line {
    max-width: 600px;
    margin: 40px auto;
  }

  .copyright {
    margin: 28px 0 0 20px;
    padding-bottom: 40px;
  }
  /*Footer end*/
}

@media screen and (max-width: 320px) {
  .mobile-nav {
    flex-direction: column;
    min-height: auto;
  }

  .mobile-nav > li {
    margin-bottom: 20px;
  }

  .mobile-nav > li:last-child {
    margin-bottom: 0;
  }

  .favorite-wrapper {
    min-height: 669px;
    padding-bottom: 0;
  }

  .favorite-text-wrapper {
    margin-top: 80px;
  }

  .main-text {
    font-size: 46px;
    line-height: 56px;
  }

  .favorite-slider {
    left: 0;
    top: 365px;
    height: auto;
  }

  .favorite-slider-animals {
    margin-left: 12px;
  }

  .favorite-slider-animals > li {
    margin: 0 8px;
  }

  .favorite-slider-animal {
    width: 113px;
    height: 164px;
  }

  .favorite-slider-animal.active-favorite-animal {
    width: 140px;
    height: 200px;
  }

  .slider-text-favorite-wrapper {
    max-width: 140px;
  }

  .slider-text-favorite-wrapper > p {
    max-width: 140px;
    font-size: 12px;
    line-height: 14px;
  }

  .buttons-wrapper .watch-btn {
    margin-bottom: 8px;
  }

  .favorite-social-links {
    display: none;
  }

  .slider-text-favorite-wrapper {
    bottom: 8px;
    left: 8px;
  }

  .buttons-wrapper {
    flex-direction: column;
    align-items: baseline;
  }

  .line {
    right: 0;
    top: 33%;
  }

  .count.favorite-count {
    margin-left: 96px;
  }

  #favorite-slider-range {
    width: 140px;
  }

  .container {
    max-width: 300px;
  }

  .how-it-works {
    max-width: 300px;
  }

  .how-it-works-header {
    font-size: 36px;
    line-height: 42px;
  }

  .how-it-works-slider {
    overflow: hidden;
  }

  .how-it-works-slider > img {
    height: 323px;
  }

  .h3-text {
    font-size: 36px;
    line-height: 42px;
  }

  .pay-feed-text {
    display: none;
  }

  .testimonial {
    padding-left: 10px;
    padding-right: 10px;
  }

  .map {
    background-image: url('./assets/icons/map/map-320px.svg');
    background-size: auto;
    height: 275px;
  }

  .map-placeholder {
    width: 34px;
    height: 47px;
  }

  .map-marker svg {
    width: 34px;
    height: 47px;
  }

  .map-marker > img {
    width: 22px;
    height: 22px;
    top: 6px;
    left: 6px;
  }

  .map-placeholder-eagle {
    left: 25px;
    top: 67px;
  }

  .map-placeholder-gorilla {
    left: 135px;
    top: 103px;
  }

  .map-placeholder-alligator {
    left: 54px;
    top: 76px;
  }

  .map-placeholder-panda {
    right: 54px;
    top: 71px;
  }

  .map-hint {
    max-width: 230px;
    padding: 15px 25px;
  }

  .map-hint > img {
    width: 40px;
    height: 40px;
  }

  .description > h6 {
    font-size: 14px;
    line-height: 16px;
  }

  .description p {
    font-size: 11px;
    line-height: 13px;
  }

  .map-hint-eagle {
    top: 30px;
    left: -15px;
    right: -358px;
  }

  .map-hint-alligator {
    top: 38px;
    left: -44px;
    right: -387px;
  }

  .map-hint-gorilla {
    transform: translate(294px, -43px);
  }

  .map-hint-panda {
    top: 27px;
    left: -253px;
    transform: translate(50px, 0);
  }

  /*Footer start*/
  .textarea-wrapper,
  input[type='text'],
  input[type='email'] {
    min-width: auto;
  }

  .btn-footer {
    top: 272px;
  }

  form {
    margin-bottom: 70px;
  }

  .right-side-description {
    margin-top: 60px;
  }

  .footer-line {
    max-width: 300px;
    margin: 110px auto 40px;
  }
  /*Footer end*/
}
