:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f2f2f2;
  --btn-bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*header start*/
.header {
  max-width: 1920px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 28px 150px;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.header-logo {
  width: 60px;
  height: 40px;
}

.header-nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav > ul > li {
  text-transform: capitalize;
  padding: 0 40px;
}

.header-nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  transition: all 0.5s ease;
}

.header-nav-link.active {
  font-weight: 900;
  text-decoration: underline;
}
/*header end*/

.main {
  z-index: 0;
  overflow: hidden;
  min-height: 940px;
  background-image: url('./assets/img/favorite-animals-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1920px;
  display: flex;
  margin: 0 auto;
  justify-content: start;
  align-items: flex-end;
  padding: 0 150px 105px;
  position: relative;
}

h1 {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  text-transform: capitalize;
}

.wrapper-social-links {
  position: relative;
  bottom: 0;
  left: 0;
}

.main-social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-social-links > li {
  padding-bottom: 8px;
}

.main-text-wrapper {
  margin-left: 185px;
  align-self: center;
  margin-bottom: 90px;
}

.main-text {
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: #ffffff;
  max-width: 790px;
  margin: 0 0 80px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background: var(--btn-bg);
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 245px;
  max-height: 50px;
}

.btn > span {
  margin-right: 6px;
}

.main-slider {
  position: absolute;
  width: 1124px;
  height: 421px;
  left: 53%;
}

.line {
  display: block;
  position: relative;
  top: 41%;
  transform: translateY(-50%);
  right: 7%;
  z-index: -1;
}

.slider-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/*count start*/
.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 185px;
}

.count.main-count {
  margin: 20px 0 0 270px;
}

.count-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgba(189, 189, 189, 0.57);
  text-align: center;
  margin-bottom: 10px;
}

#current-number {
  color: #fefefe;
  font-weight: 900;
}
/*count end*/

.how-it-works {
  background-color: var(--primary-bg-color);
}

.how-it-works {
  display: flex;
  max-width: 790px;
  margin: 0 auto;
  flex-direction: column;
}

.how-it-works-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin: 110px 0 30px;
  color: #333333;
}

.how-it-works-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  margin: 0 0 30px;
}

.how-it-works-count {
  margin: 30px auto;
  text-align: center;
}

.how-it-works-count #current-number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.how-it-works-btn {
  margin: 0 auto 100px;
}

.how-it-works-icons {
  background-color: var(--secondary-bg-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.icons-wrapper {
  display: flex;
  padding: 100px 0 130px;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 380px;
  align-items: center;
}

.item > .icon {
  width: 80px;
  height: 80px;
}

.item > .item-header {
  margin: 15px 0 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.item > .item-text {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  text-align: left;
}

.pets-in-zoo-wrapper {
  background-color: var(--primary-bg-color);
}

.pets-in-zoo-header {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin: 110px 0 38px;
}

.pets-in-zoo-slider {
  display: flex;
  position: relative;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: -35px;
}

.right-arrow {
  right: -35px;
}

.pets-in-zoo-slider-wrapper > img {
  width: 278px;
height: 399px;
object-fit: fill;
}

.favorite-btn {
  margin: 0 auto 100px;
  padding: 18px 15px;
}
